.header {
    color: white;

    .top_header {
        white-space: nowrap;
        background: #121821;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .left {
            display: flex;
            gap: 10px;
            place-items: center;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #fdfdfdc2;
                box-shadow: 0 0 30px #ccc;
            }

            .address {
                padding: 5px 8px;

                &:hover {
                    border: 1px solid white;
                }
            }

        }

        .searchBox {
            width: 60%;

            form {
                background: #ffbc69;
                border: none;
                border-radius: 5px;
                display: flex;
                align-items: center;
                position: relative;

                .seachitem {
                    position: absolute;
                    top: 47px;
                    background: white;
                    color: black;
                    padding: 10px;
                    width: 98%;
                    max-height: 400px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    z-index: 4;

                    a {
                        display: flex;
                        gap: 10px;
                        cursor: pointer;
                        align-items: center;
                        list-style: none;
                        text-decoration: none;
                        color: black;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 10px;
                        }

                        p {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                }

                input {
                    width: 92%;
                    background: white;
                    padding: 15px 10px;
                    outline: none;
                    border: none;
                    border-radius: 5px 0 0 5px;
                }

                button {
                    margin: 0 10px;
                    background: transparent;
                    border: none;
                    font-size: 25px;
                }
            }
        }

        .right {
            // width: 24%;
            display: flex;
            align-items: center;
            gap: 10px;

            .dropdown_container {
                cursor: pointer;
                z-index: 5;


                span {
                    display: flex;
                    place-items: center;

                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }

                .dropdown-content {
                    background: white;
                    color: black;
                    position: absolute;
                    top: 60px;
                    right: 15%;
                    text-align: center;
                    width: 150px;

                }

                .dropdown-account {
                    display: flex;
                    justify-content: space-around;
                    width: 25%;
                    right: 17px;
                }

                // }
            }

            .return {
                cursor: pointer;
                padding: 5px 0;

                &:hover {
                    border: 1px solid white;
                }
            }

            .cart {
                display: flex;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    border: 1px solid white;
                }

                svg {
                    font-size: 40px;
                    font-weight: 800;
                }

                p {
                    display: flex;
                    place-items: end;
                }
            }
        }
    }

    .bottom_header {

        background: #232f3e;

        .sroll-data {
            display: flex;
            gap: 35px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            p {
                white-space: nowrap;
                margin: 5px 0 6px 0;
                padding: 8px 9px;

                span {
                    display: flex;
                    gap: 5px;
                }

                &:hover {
                    cursor: pointer;
                    border: 1px solid white;
                    margin-bottom: 0;
                }
            }
        }


        .span {
            display: flex;
            gap: 3px;
            font-size: 20px;
            cursor: pointer;
        }


        .sidebar-container {
            background: #00000070;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;

            .sidebar {
                position: fixed;
                background: white;
                color: black;
                width: 25%;
                min-width: 200px;
                height: 100%;
                overflow-y: scroll;
                z-index: 9;

                .head {
                    background: #232f3e;
                    color: white;
                    padding: 20px;
                    display: flex;
                    gap: 10px;

                    svg {
                        width: 30px;
                        height: 30px;

                    }
                }

                .data {
                    padding: 10px 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                }

                .cross {
                    position: absolute;
                    top: 8px;
                    right: 6px;
                    z-index: 2222;
                    color: white;
                    font-size: 1.5rem;
                    cursor: pointer;

                }
            }
        }

    }


    @media (max-width:700px) {
        .top_header {
            .left {
                .address {
                    display: none;
                }
            }

            .right {
                .dropdown_container {
                    display: none;
                }

                .return {
                    display: none;
                }
            }
        }
    }
}